/*
#zotero-prevent-duplicates-description { max-width: 300px;}
#zotero-prevent-duplicates { width: 400px;}
#zotero-prevent-duplicates button { max-width: 150px; clear: none; display: inline-block; margin: 10px;} */